# Assume Python 3.10.
target-version = "py310"
output-format = "pylint"
src = ["src"]
[format]
quote-style = "double"

[lint]
select = [
  "A",
  "AIR",
  "ANN",
  "ARG",
  "ASYNC",
  "B",
  "BLE",
  "C",
  "C4",
  "COM",
  "D",
  "DTZ",
  "E",
  "EM",
  "ERA",
  "EXE",
  "F",
  "FA",
  "FBT",
  "FLY",
  "FIX",
  "G",
  "I",
  "ICN",
  "INP",
  "INT",
  "ISC",
  "N",
  "NPY",
  "PIE",
  "PGH",
  "PD",
  "PL",
  "PLE",
  "PLR",
  "PLW",
  "PT",
  "PTH",
  "PYI",
  "Q",
  "RSE",
  "RET",
  "RUF",
  "S",
  "SLF",
  "SIM",
  "TCH",
  "TD",
  "TID",
  "T10",
  "TRY",
  "W",
  "UP",
]
fixable = [ "ALL"]
ignore = [
  "A003",
  "C901",
  "D100",
  "D101",
  "D102",
  "D103",
  "D104",
  "D105",
  "D106",
  "D107",
  "D401",
  "E50",
  "ERA001",
  "F401",
  "FIX002",
  "I001",
  "ISC001",
  "N815",
  "N818",
  "PD901",
  "PGH003",
  "PLR0911",
  "PLR0912",
  "PLR0913",
  "PLR0915",
  "PLW0603",
  "SIM102",
  "SIM910",
  "TRY003",
]
